body {
  background-color: beige;
}

button {
  background-color: aquamarine;
  color: coral;
}

button:hover {
  background-color: beige;
}

.container {
  background-color: coral;
}

.title-container {
  background-color: aquamarine;
}

.red-text {
  color: red;
}

#big-red-button {
  background-color: red;
  color: white;
}